* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 40px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 2px 3px 2px white;
  }
  
  li:hover {
    border: 2px solid grey;
    cursor: pointer;
    background-color: grey;
  }
  
  button{
    box-shadow: 2px 1px 2px 1px white;
  }
  
  button:hover {
    cursor: pointer;
    background-color: grey;
  }
  
  body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,35,9,1) 33%, rgba(0,212,255,1) 100%);
    color: white;
  }
  
  h1, h3 {
    line-height: 30px;
  }
  
  .fullDiv {
    text-align: center;
    width: 600px;
    margin: auto;
    height: 100vh;
  }
  
  #alertField {
    margin-top: 20px;
  }
  #alert {
    width: 600px;
    text-align: center;
    margin: auto;
    display: none;
    font-size: 40px;
    color: red;
    border: 1px dotted red;
    border-radius: 10px;
  }
  
  
  #inputForm {
    width: 600px;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .inputField {
    border-radius: 5px;
    text-align: center;
  }
  
  #addButton {
    background-color: Transparent;
    color: white;
    border-radius: 5px;
    width: 70px;
  }
  
  .tasks {
    width: 600px;
    margin: auto;
    height: 100vh;
  }
  
  .delete {
    display: none;
  }
  
  .deleteButton {
    background-color: Transparent;
    cursor: pointer;
    color: white;
    height: 35px;
    width: 30px;
    float: right;
    border-radius: 10px;
    font-size: 30px;
  }
  
  #clearButton {
     background-color: Transparent;
    color: white;
    border-radius: 5px;
    width: 70px;
  }
  
  #clearButton {
    background-color: Transparent;
    color: white;
    border-radius: 5px;
    width: 70px;
    float: right;
    margin-top: -50px;
    margin-right: 105px;
  }
  
  